<Context path="/xgebase"
docBase="xgebase"
debug="5"
reloadable="true"
crossContext="true">
<Resource name="jdbc/mysql"
auth="Container"
type="javax.sql.DataSource"
username="erg_reader"
password="greenear"
driverClassName="com.mysql.jdbc.Driver"
url="jdbc:mysql://clynelish:3306/XenopusGX"
maxActive="8"
maxIdle="4"/>
</Context>